$color-palette: (
	red-ed: #ed443c,
	primary: #007dde,
	success: #4caf50,
	error: #ed443c,
	warning: #ff9800,
	blue-3a: #3a81f4,
	purple-5c:#5c566d,
	grey-ea:#eae8ef,
	white: #fff,
	purple-37:#372861,
	blue-42: #429ef8,
)