// Skeleton import
@import 'skeleton/variables/variables';
@import 'skeleton/utils/utils';
@import 'skeleton/grid/grid';
@import 'skeleton/font/font-face';
@import "skeleton/helpers/helpers";
@import "skeleton/components/components";
@import "skeleton/placeholders/placeholder";
@import "skeleton/utils/normalize";
// Custom style

#pitchday
{
	position: relative;
	min-height: 100vh;
	background: #fafafa;

	&:before
	{
		position: absolute;
		content: '';
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		background-image: linear-gradient(116deg, #f6fbff, #f7fffe);
	}
}

.App
{
	position: relative;
	display: block;

	.overlay-photo
	{
		position: absolute;
		display: block;
		width: 66%;
		top: 256px;
		right: 0;
		height: calc(100vh - 209px);
		background: url('../assets/img/illustration.svg') no-repeat center;
		background-size: contain;

		.label
		{
			position: absolute;
			display: table;
			padding: 15px 24px 16px;
			text-align: center;
			@include font-details(14px, 700);
			border-radius: 100px;
			color: color(white);
			background-color: color(purple-37);

			&:nth-child(1)
			{
				left: 198px;
				top: 42%;

				@include breakpoint(lg)
				{
					left: 104px;
				}
			}

			&:nth-child(2)
			{
				top: -61px;
				right: 296px;

				@include breakpoint(lg)
				{
					right: 182px;
					top: 3px;
				}
			}

			&:nth-child(3)
			{
				right: 254px;
				bottom: 41.5%;

				@include breakpoint(lg)
				{
					right: 144px;
					bottom: 42.5%;
				}
			}
		}
	}

	.container
	{
		.wrapper
		{
			@media (min-width: map-deep-get($config, media-breakpoints, md, min))
			{
				margin-left: percentage((100/12)/100);
			}

			@media (max-width: 767px)
			{
				margin-left: 0;
			}
		}
	}
}