doctype html
html(lang="en" data-host=host)
	head
		title Tokenising the Future - Pitchday
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		include includes/GTMhead.pug
		link(rel="stylesheet" href="/css/main.css")
		link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700" rel="stylesheet")
		script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
		script(src="/js/main.js")
	body
		include includes/GTMbody.pug
		header
			.container
				img(src="/img/logo.svg" alt="Pitchday")
		section.hero
			.container
				h1 Tokenising The Future
				blockquote “For the first time in the technology's short history, blockchain entrepreneurs are now raising more money through initial coin offerings (ICOs) than traditional venture capital investments.” - 
					a(href="https://www.coindesk.com/ico-investments-pass-vc-funding-in-blockchain-market-first/" target="_blank") coindesk
		section.community
			.container
				h2.community__h2 Join the Pitchday Community
				h3.community__h3 We are 
					span.community__counter happy
					|  members
				ul
					li
						a(href="https://t.me/pitchday" target="_black")
							img(src="/img/telegram.svg" alt="Telegram")
							| Telegram
					//- li
					//- 	a(href="#")
					//- 		img(src="/img/slack.svg" alt="Slack")
					//- 		| Slack
				div.community__separator
				h2 Subscribe for updates
				form(action="//localhost:5000/api/newsletter" method="post")
					input(placeholder="Enter your email" name="email")
					button Subscribe