@import "../../styles/skeleton/skeleton";

main
{
	section
	{
		&.home-section
		{
			margin-top: 213px;

			.fresh-news-badge
			{
				position: relative;
				display: table;
				margin-bottom: 30px;
				padding: 5px 15px 4px 5px;
				border-radius: 30px;
				background-color: color(grey-ea);

				.badge
				{
					position: relative;
					display: inline-block;
					margin-right: 15px;
					padding: 2px 10px 1px;
					border-radius: 100px;
					text-align: center;
					line-height: 17px;
					@include font-details(12px, 800);
					color: color(white);
					background: color(blue-3a);

				}

				.news-title
				{
					display: inline-block;
					line-height: 20px;
					@include font-details(14px, 700);
					color: color(purple-5c);
				}
			}

			.jumbotron-block
			{
				.jumbotron-heading
				{
					margin: 0;
					line-height: 55px;
					@include font-details(40px, 800, 'OpenSansItalic');
					font-style: italic;
					text-transform: uppercase;
					color: color(purple-37);
				}

				.jumbotron-paragraph
				{
					position: relative;
					max-width: 607px;
					margin: 10px 0 0;
					@include font-details(19px, 400);
					color: color(purple-5c);
				}

				.jumbotron-button
				{
					@extend %jumbotron-button;
					margin: 100px 0 0;
				}
			}
		}

		&.how-it-works-section
		{
			display: block;
			margin-top: 110px;

			.section-label
			{
				@extend %section-label;
				margin-bottom: 20px;
			}

			.section-label-sibling
			{
				@extend %section-label-sibling;
				margin-bottom: 30px;
			}

			.how-it-works-description
			{
				position: relative;
				display: block;
				width: 60%;
				margin: 0 auto 100px;
				text-align: center;
				@include font-details(19px, 400);
				color: color(purple-5c);

				@media (min-width: 1440px) and (max-width: 1919px)
				{
					width: 80%;
				}

				@media (min-width: 1260px) and (max-width: 1439px)
				{
					width: 85%;
				}

				@media (min-width: 1024px) and (max-width: 1259px)
				{
					width: 85%;
				}

				@media (max-width: 1023px)
				{
					width: 90%;
				}

			}

			.workers-types
			{
				position: relative;
				display: block;
				max-width: 770px;
				margin: 0 auto;

				.worker
				{
					position: relative;
					margin-bottom: 70px;

					&.right
					{
						text-align: right;
					}

					.worker-type
					{
						display: block;
						margin-bottom: 10px;

						.worker-type-icon
						{
							position: relative;
							display: inline-flex;
							width: 12px;
							height: 12px;
							margin-top: 6px;
							margin-right: 10px;
							background: svg('worker-type-icon') no-repeat center;
							background-size: contain;
						}

						.worker-type-title
						{
							display: inline-block;
							line-height: 24px;
							text-transform: uppercase;
							@include font-details(18px, 700);
							color: color(blue-3a);
						}
					}

					.worker-description
					{
						position: relative;
						margin: 0;
						@include font-details(19px, 400);
						color: color(purple-5c);
					}
				}
			}

			.jumbotron-button
			{
				@extend %jumbotron-button;
			}
		}

		&.allocation-section
		{
			margin-top: 110px;

			.section-label
			{
				@extend %section-label;
			}

			.allocation-tabs
			{
				margin-top: 20px;

				.tab-headings
				{
					margin-bottom: 56px;
					text-align: center;
					vertical-align: top;

					.tab-item
					{
						position: relative;
						padding: 18px 48px 17px;
						border: 1px solid transparent();
						border-radius: 100px;
						text-align: center;
						text-transform: uppercase;
						@include font-details(19px, 400);
						color: color(purple-37);

						@media (min-width: 1440px) and (max-width: 1919px)
						{
							padding: 14px 35px 13px;
						}

						@media (min-width: 1260px) and (max-width: 1439px)
						{
							padding: 10px 20px 9px;
							font-size: 17px;
						}

						@media (min-width: 1024px) and (max-width: 1259px)
						{
							padding: 10px 20px 9px;
							font-size: 17px;
						}

						span
						{
							cursor: pointer;
							transition: color .3s ease-in-out;
						}

						span:hover
						{
							color: color(blue-3a);

						}

						&.active
						{
							cursor: default;
							border-color: color(blue-3a);
							color: color(blue-3a);
							transition: border-color .3s ease-in-out, color .3s ease-in-out;
						}
					}
				}

				.tab-content
				{
					text-align: center;

					.content
					{
						position: relative;

						&.c1
						{
							.allocation-photo
							{
								width: 50%;
								height: 400px;
								background: png('allocation-chart') no-repeat center;
								background-size: contain;
							}

							.chart-text
							{
								&.c1
								{
									left: -140px;
									top: 142px;
								}

								&.c2
								{
									right: -100px;
									bottom: 53px;
								}
							}

							@media (min-width: 1440px) and (max-width: 1919px)
							{
								.allocation-photo
								{
									width: 68%;
								}
							}

							@media (min-width: 1260px) and (max-width: 1439px)
							{
								.chart-text
								{
									&.c1
									{
										left: -210px;
										top: 152px;
									}

									&.c2
									{
										right: -160px;
										bottom: 66px;
									}
								}
							}

							@media (min-width: 1024px) and (max-width: 1259px)
							{
								.allocation-photo
								{
									width: 60%;
								}

								.chart-text
								{
									&.c1
									{
										left: -210px;
										top: 150px;
									}

									&.c2
									{
										right: -160px;
										bottom: 60px;
									}
								}
							}
						}

						&.c2
						{
							.allocation-photo
							{
								width: 50%;
								height: 400px;
								background: png('pie-crowdsale') no-repeat center;
								background-size: contain;
							}

							.chart-text
							{
								&.c1
								{

									left: -134px;
									top: 118px;
								}

								&.c2
								{
									left: 0;
									top: 265px;
								}

								&.c3
								{
									left: 180px;
									bottom: -40px;
								}

								&.c4
								{
									right: 16px;
									bottom: 6px;
								}

								&.c5
								{
									right: -66px;
									top: 114px;
								}
							}

							@media (min-width: 1440px) and (max-width: 1919px)
							{
								.allocation-photo
								{
									width: 68%;
								}
							}

							@media (min-width: 1260px) and (max-width: 1439px)
							{
								.chart-text
								{
									&.c1
									{

										left: -174px;
										top: 136px;
									}

									&.c2
									{
										left: -50px;
										top: 243px;
									}

									&.c3
									{
										left: 70px;
										bottom: 5px;
									}

									&.c4
									{
										right: -40px;
										bottom: 36px;
									}

									&.c5
									{
										right: -106px;
										top: 134px;
									}
								}
							}

							@media (min-width: 1024px) and (max-width: 1259px)
							{
								.allocation-photo
								{
									width: 60%;
								}

								.chart-text
								{
									&.c1
									{

										left: -174px;
										top: 128px;
									}

									&.c2
									{
										left: -26px;
										top: 250px;
									}

									&.c3
									{
										left: 100px;
										bottom: -15px;
									}

									&.c4
									{
										right: -36px;
										bottom: 23px;
									}

									&.c5
									{
										right: -106px;
										top: 124px;
									}
								}
							}
						}

						&.c3
						{
							.allocation-photo
							{
								width: 50%;
								height: 400px;
								background: png('pie-chart-minning') no-repeat center;
								background-size: contain;
							}

							.chart-text
							{
								&.c1
								{

									left: -76px;
									top: 127px;
								}

								&.c2
								{
									right: 30px;
									bottom: 6px;
								}

								&.c3
								{
									right: -42px;
									top: 93px;
								}
							}

							@media (min-width: 1440px) and (max-width: 1919px)
							{
								.allocation-photo
								{
									width: 68%;
								}
							}

							@media (min-width: 1260px) and (max-width: 1439px)
							{
								.chart-text
								{
									&.c1
									{

										left: -116px;
										top: 142px;
									}

									&.c2
									{
										right: -36px;
										bottom: 36px;
									}

									&.c3
									{
										right: -88px;
										top: 119px;
									}
								}
							}

							@media (min-width: 1024px) and (max-width: 1259px)
							{
								.allocation-photo
								{
									width: 60%;
								}

								.chart-text
								{
									&.c1
									{

										left: -120px;
										top: 136px;
									}

									&.c2
									{
										right: -26px;
										bottom: 22px;
									}

									&.c3
									{
										right: -102px;
										top: 106px;
									}
								}
							}
						}

						&.c4
						{
							.allocation-photo
							{
								width: 50%;
								height: 400px;
								background: png('pie-chart-funds-use') no-repeat center;
								background-size: contain;
							}

							.chart-text
							{
								&.c1
								{

									left: -85px;
									top: 128px;
								}

								&.c2
								{
									left: -15px;
									bottom: 3px;
								}

								&.c3
								{
									right: 130px;
									bottom: -36px;
								}

								&.c4
								{
									right: -40px;
									bottom: 32px;
								}

								&.c5
								{
									right: -16px;
									top: 154px;
								}
							}

							@media (min-width: 1440px) and (max-width: 1919px)
							{
								.allocation-photo
								{
									width: 68%;
								}
							}

							@media (min-width: 1260px) and (max-width: 1439px)
							{
								.chart-text
								{
									&.c1
									{

										left: -136px;
										top: 142px;
									}

									&.c2
									{
										left: -76px;
										top: 272px;
									}

									&.c3
									{
										right: 30px;
										bottom: 5px;
									}

									&.c4
									{
										right: -94px;
										bottom: 55px;
									}

									&.c5
									{
										right: -76px;
										top: 162px;
									}
								}
							}

							@media (min-width: 1024px) and (max-width: 1259px)
							{
								.allocation-photo
								{
									width: 60%;
								}

								.chart-text
								{
									&.c1
									{

										left: -136px;
										top: 136px;
									}

									&.c2
									{
										left: -70px;
										top: 286px;
									}

									&.c3
									{
										right: 50px;
										bottom: -12px;
									}

									&.c4
									{
										right: -94px;
										bottom: 46px;
									}

									&.c5
									{
										right: -76px;
										top: 156px;
									}
								}
							}
						}

						.allocation-photo
						{
							position: relative;
							display: block;
							margin: 0 auto 146px;
						}

						.chart-text
						{
							position: absolute;

							.title
							{
								display: block;
								@include font-details(19px, 600);
								line-height: 26px;
								text-align: left;
								color: color(purple-37);

								code
								{
									@include font-details(19px, 300);
									color: color(purple-5c);
								}
							}

							.value
							{
								position: relative;
								display: block;
								line-height: 68px;
								text-align: left;
								@include font-details(60px, 100, 'FSAlbertPro');
								color: color(purple-5c);
							}
						}
					}
				}
			}
		}

		&.community-section
		{
			display: block;

			.section-label
			{
				@extend %section-label;
				margin-bottom: 20px;
			}

			.section-label-sibling
			{
				@extend %section-label-sibling;
				margin-bottom: 30px;
			}

			.community-list-block
			{
				display: block;
				margin: 0 auto 70px;
				text-align: center;
				width: 60%;

				@media (min-width: 1440px) and (max-width: 1919px)
				{
					width: 80%;
				}

				@media (min-width: 1260px) and (max-width: 1439px)
				{
					width: 85%;
				}

				@media (min-width: 1024px) and (max-width: 1259px)
				{
					width: 85%;
				}

				.contributor
				{
					position: relative;
					@include font-details(19px, 400);
					color: color(purple-5c);
					margin: 0 3px;
					line-height: 26px;

					&.link
					{
						@include font-details(19px, 700);
						color: color(blue-3a);
						text-decoration: none;
					}
				}
			}

			.jumbotron-button
			{
				@extend %jumbotron-button;
			}
		}

		&.contact-section
		{
			display: block;
			margin-top: 100px;
			margin-bottom: 100px;

			.section-label
			{
				@extend %section-label;
				margin-bottom: 20px;
			}

			.section-label-sibling
			{
				@extend %section-label-sibling;
				margin-bottom: 70px;
			}

			.subscribe-form
			{
				display: block;
				text-align: center{};

				input
				{
					position: relative;
					display: inline-block;
					padding: 14px 27px;
					margin-right: 10px;
					border-radius: 100px;
					border: 1px solid color(purple-5c);
					box-shadow: 0 0 0 1000px #fafafa inset;
					letter-spacing: -.2px;
					line-height: 20px;
					@include font-details(15px,600);
					color: color(purple-5c);
				}

				.subscribe-button
				{
					position: relative;
					display: inline-block;
					padding: 15px 30px;
					border:0;
					cursor: pointer;
					@include font-details(15px,600);
					letter-spacing: -.2px;
					color: color(white);
					line-height: 20px;
					border-radius: 100px;
					background-color: color(blue-3a);
				}
			}
		}
	}
}