@import "includes/reset.css"
@import "includes/grid"

a
	color #3186f8
	&:hover
		filter opacity(0.7)
	&:visited
			color #8d5dfd
		

body
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	line-height 1.36

h1
	font-size 2.68em
	color #5D3AD2
	text-align center
	margin 50px


h2
	font-size 1.75em
	text-align center
	color #44386C
	font-weight 600
	margin 40px

h3
	font-size: 1.375em
	color: #44386C
	text-align center
	font-weight 600

blockquote
	font-size 1.25em
	font-style italic
	color #726B8B
	text-align center
	max-width 700px
	margin 0 auto
	a
		color #726B8B
		&:hover
			color #44386C 
		&:visited
			color #44386C 
	
header
	margin-top 44px
	margin-bottom 93px
	
ul
	list-style-type none
	text-align center
	margin 0
	-webkit-padding-start 0
li
	display inline-block
	margin-right 30px
	font-size 1.125em
	&:last-child
		margin-right 0
	a
		display block
		text-decoration none
		color #44386C
	img
		vertical-align middle
		margin-right 15px	

form
	text-align center
input
button
	height 45px
	width 141px
	font-size 1.125em
	box-sizing border-box
	border 1px solid #906DFF;
	font-family: 'Open Sans', sans-serif;
	font-weight 600
input
	width 311px
	padding-left 23.5px
	line-height 45px
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-right 0px
	&::-webkit-input-placeholder
		color #B3B3B3
		line-height 1.125em
button
	color white
	background: #3186F8;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	border-left 0px
	
.hero
	margin-bottom 107px

.community
	margin-bottom 50px
	&__channels
		margin 30px
	&__members
		text-align center
		margin 15px
		color #B3B3B3
		max-width 600px
		margin 0 auto
		
	&__separator
		border-top: 1px solid #E1E1E1;
		margin 0 auto
		width 120px
		margin-top 40px
	&__h2
		margin 30px
	&__h3
		margin 15px
	
	