&.home-section
{
	height: calc(100vh - 121px);
	position: relative;
	padding-top: 160px;

	.fresh-news-badge
	{
		position: relative;
		display: table;
		margin-bottom: 30px;
		padding: 5px 15px 4px 5px;
		border-radius: 30px;
		background-color: color(white);

		.badge
		{
			position: relative;
			display: inline-block;
			margin-right: 15px;
			padding: 2px 10px 1px;
			border-radius: 100px;
			text-align: center;
			line-height: 17px;
			@include font-details(12px, 800);
			color: color(white);
			background: color(blue-3a);

		}

		.news-title
		{
			display: inline-block;
			line-height: 19px;
			@include font-details(14px, 700);
			color: color(purple-5c);
		}
	}

	.jumbotron-block
	{
		margin-bottom: 40px;

		.jumbotron-heading
		{
			margin: 0;
			@include font-details(30px, 800);
			text-transform: uppercase;
			color: color(purple-37);
		}

		.jumbotron-paragraph
		{
			position: relative;
			max-width: 717px;
			margin: 10px 0 0;
			@include font-details(19px, 400);
			color: color(purple-5c);
		}
	}

	.learn-more-btn
	{
		position: absolute;
		display: block;
		cursor: pointer;
		left:0;
		bottom:85px;
		border-radius: 100px;
		padding: 14px 21px;
		border: 1px solid color(purple-5c);
		text-align: center;
		background: transparent;

		span
		{
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
			@include font-details(14px,700);
			color: color(purple-5c);
		}

		.arrow-icon
		{
			display: inline-flex;
			width: 15px;
			height: 15px;
			margin-left: 15px;
			vertical-align: middle;
			background: no-repeat center;
			background-size: contain;
			background-image: svg('arrow-down');
		}
	}
}